<section id="asteroid-canvas"></section>
<canvas id="radar" width="201" height="201"></canvas>
<div id="hud">
  <p>
    Level:
      <span id="level">
        <%= level %>
      </span>
      <br />
    Asteroids left:
      <span id="asteroids">
        <%=asteroids%>
      </span>
      <br />
    Lives:
      <span id="lives">
        <%=lives %>
      </span>
      <br />
    Score:
      <span id="score">
        <%= score %>
      </span>
      <br />
    High Score:
      <span id="high_score">
        <%= high_score %>
      </span>
      <br />
  </p>
</div>

<div id="credits"><p>Created by <a href="">Brian Kang</a> using <a href="http://mrdoob.github.com/three.js/">Three.js</a><br />Arrow keys to move, Space to shoot, m for fullscreen<br /> 1 bonus life every 5000 points</p></div>
<section id="notification">

</section>

<section id="gameOver">
  Game Over
  <br>
  <button type="button" name="button" class="restart">Restart</button>
</section>

<section id="backView" width="300" height="300">
  <a class="menu-item" href="#snake">
    <label for="">
      SNAKE
    </label>
  </a>
  <a class="menu-item" href="#asteroids">
    <label for="">
      ASTEROID
    </label>
  </a>
  <!-- <a class="menu-item" href="#spaceinvaders">
    <label for="">
      INVADER
    </label>
  </a> -->
</section>
